{% extends "base.html" %}
{% load static %}
{% block content %}



    <span class="str">"Institution"</span><span class="pun">:</span><span class="pln"> </span>
    <span class="str">"</span><a href="/institution/" rel="nofollow"><span class="str">/institution/</span></a>
    <span class="str">"</span><span class="pun">,</span><span class="pln">
    </span><br>

    <span class="str">"Member"</span><span class="pun">:</span><span class="pln"> </span>
    <span class="str">"</span>
    <a href="/member/" rel="nofollow"><span class="str">/member/</span></a><br>


    <span class="str">"Address country"</span><span class="pun">:</span><span class="pln"> </span>
    <span class="str">"</span><a href="/addresscountry/" rel="nofollow"><span class="str">/addresscountry/</span></a>
    <span class="str">"</span><span class="pun">,</span><span class="pln">
    </span><br>

    <span class="str">"Address province"</span><span class="pun">:</span><span class="pln"> </span>
    <span class="str">"</span><a href="/addressprovince/" rel="nofollow"><span class="str">/addressprovince/</span></a>
    <span class="str">"</span><span class="pun">,</span><span class="pln">
    </span><br>

    <span class="str">"Address zone"</span><span class="pun">:</span><span class="pln"> </span>
    <span class="str">"</span><a href="/addresszone/" rel="nofollow"><span class="str">/addresszone/</span></a>
    <span class="str">"</span><span class="pun">,</span><span class="pln">
    </span><br>

    <span class="str">"Address district"</span><span class="pun">:</span><span class="pln"> </span>
    <span class="str">"</span><a href="/addressdistrict/" rel="nofollow"><span class="str">/addressdistrict/</span></a>
    <span class="str">"</span><span class="pun">,</span><span class="pln">
    </span><br>

    <span class="str">"Address vdc/municipality"</span><span class="pun">:</span><span class="pln"> </span>
    <span class="str">"</span>
    <a href="/addressvdcmunicipality/" rel="nofollow"><span class="str">/addressvdcmunicipality/</span></a>
    <span class="str">"</span><span class="pun">,</span><span class="pln">
    </span><br>

{% endblock %}